.country-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.country-detail-button {
  padding: 10px 50px;
  margin-bottom: 25px;
  border: 2px solid black;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: black;
  background-color: #f9f9f2;
}

.country-detail-button:hover {
  background-color: #f9f9f2;
  color: black;
  border: 2px solid black;
}

.country-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  min-width: 450px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  background-color: #f9f9f2;
}

.country-name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.country-flag {
  width: 300px;
  height: auto;
  margin-bottom: 1rem;
}

.country-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.country-info p {
  margin: 0.5rem;
  font-size: 1.2rem;
  text-align: right;
}

.country-info strong {
  font-weight: bold;
  margin-right: 0.5rem;
  text-align: left;
}
