.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonCreateActivity {
  right: 4%;
  top: 4%;
  position: absolute;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #414141;
  border: 2px solid #414141;
  border-radius: 5px;
  padding: 10px 30px;
  background-color: #f5f5f5;
  transition: background-color 1s ease, color 1s ease;
}

.buttonCreateActivity:hover {
  background-color: #414141;
  color: #f5f5f5;
}

.home-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1%;
  padding: 3% 1%;
  height: 60vh;
}

.filterAndOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #f5f5f5;
}

.byContinent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
