.divActivity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divActivity label {
  font-size: 20px;
}

.divActivity input,
.divActivity select {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size: 18px;
}

.divActivity a {
  margin: 10px;
  left: 0;
  top: 0;
  position: absolute;
}

.formActivity {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 1%;
  width: 50%;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.formDivs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.divSeasons {
  display: flex;
  gap: 20px;
}

.divAddCountry {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.addCountryButton {
  margin: 0;
}

.countrySuggestion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}

.countrySuggestion img {
  width: 50px;
  height: 25px;
  padding-right: 10px;
  padding-top: 5px;
}

.countryAdd {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: auto;
  max-height: 150px;
  padding: 10px 20px;
}
.countryAdd div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 10px;
  padding: 0 5px;
}

.countryAdd img {
  width: 50px;
  height: 30px;
}

.removeButton {
  padding: 2px 5px;
  margin: 0;
  font-size: 15px;
}

.createButton {
  grid-column-start: span 3;
  padding: 10px 100px;
  margin: 0;
}
