.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  margin-top: 15px;
  height: 100%;
  width: 100%;
}

.linkCountryID,
.linkCountryID:hover {
  color: black;
  text-decoration: none;
}

.card {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  overflow: hidden;
  width: 225px;
  height: 225px;
  transition: transform 0.3s ease-in-out;
  border: 1px solid #000;
  cursor: pointer;
  background-color: #f5f5f5;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.6);
}

.card__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card__header {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__flag {
  width: 100%;
  height: 100%;
  object-fit: 100% 100%;
}

.card__body {
  height: 35%;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__body h5 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.card__body p {
  margin-top: 0;
  font-size: 13px;
  text-align: center;
}
